<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

In [1]:
%pip install sqlalchemy==1.3.9
%pip install ipython-sql # SQL magic function

Collecting sqlalchemy==1.3.9
  Using cached SQLAlchemy-1.3.9-cp310-cp310-macosx_10_9_universal2.whl
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 2.0.23
    Uninstalling SQLAlchemy-2.0.23:
      Successfully uninstalled SQLAlchemy-2.0.23
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
ipython-sql 0.5.0 requires sqlalchemy>=2.0, but you have sqlalchemy 1.3.9 which is incompatible.
Successfully installed sqlalchemy-1.3.9
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: ipython-sql in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (0.5.0)
Requirement already satisfied: prettytable in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from ipython-sql) (3.9.0)
Requirement already satisfied: ipython in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from ipython-sql) (8.5.0)
Collecting sqlalchemy>=2.0 (from ipython-sql)
  Using cached SQLAlchemy-2.0.23-cp310-cp310-macosx_10_9_x86_64.whl.metadata (9.6 kB)
Requirement already satisfied: sqlparse in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from ipython-sql) (0.4.4)
Requirement already satisfied: six in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.2.0 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.8.0)
Requirement already satisfied: greenlet!=0.4.17 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from sqlalchemy>=2.0->ipython-sql) (3.0.2)
Requirement already satisfied: backcall in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: decorator in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from ipython->ipython-sql) (0.18.1)
Requirement already satisfied: matplotlib-inline in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: pickleshare in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: prompt-toolkit<3.1.0,>3.0.1 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from ipython->ipython-sql) (3.0.31)
Requirement already satisfied: pygments>=2.4.0 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from ipython->ipython-sql) (2.13.0)
Requirement already satisfied: stack-data in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from ipython->ipython-sql) (0.5.1)
Requirement already satisfied: traitlets>=5 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from ipython->ipython-sql) (5.5.0)
Requirement already satisfied: pexpect>4.3 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from ipython->ipython-sql) (4.8.0)
Requirement already satisfied: appnope in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from ipython->ipython-sql) (0.1.3)
Requirement already satisfied: wcwidth in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: executing in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from stack-data->ipython->ipython-sql) (1.1.1)
Requirement already satisfied: asttokens in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from stack-data->ipython->ipython-sql) (2.0.8)
Requirement already satisfied: pure-eval in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Using cached SQLAlchemy-2.0.23-cp310-cp310-macosx_10_9_x86_64.whl (2.1 MB)
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.3.9
    Uninstalling SQLAlchemy-1.3.9:
      Successfully uninstalled SQLAlchemy-1.3.9
Successfully installed sqlalchemy-2.0.23
Note: you may need to restart the kernel to use updated packages.

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [ ]:
%load_ext sql

In [5]:
import csv, sqlite3

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [4]:
%pip install -q pandas==1.1.5

^C
ERROR: Operation cancelled by user
Note: you may need to restart the kernel to use updated packages.

In [ ]:
%sql sqlite:///my_data1.db

In [7]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

101

In [8]:
df.tail(5)

,Date,Time (UTC),Booster_Version,Launch_Site,Payload,PAYLOAD_MASS__KG_,Orbit,Customer,Mission_Outcome,Landing_Outcome
96,2020-11-05,23:24:23,F9 B5B1062.1,CCAFS SLC-40,"GPS III-04 , Crew-1",4311,MEO,USSF,Success,Success
97,2020-11-16,0:27:00,F9 B5B1061.1,KSC LC-39A,"Crew-1, Sentinel-6 Michael Freilich",12500,LEO (ISS),NASA (CCP),Success,Success
98,2020-11-21,17:17:08,F9 B5B1063.1,VAFB SLC-4E,"Sentinel-6 Michael Freilich, Starlink 15 v1.0",1192,LEO,NASA / NOAA / ESA / EUMETSAT,Success,Success
99,2020-11-25,2:13:00,F9 B5 B1049.7,CCAFS SLC-40,"Starlink 15 v1.0, SpaceX CRS-21",15600,LEO,SpaceX,Success,Success
100,2020-12-06,16:17:08,F9 B5 B1058.4,KSC LC-39A,SpaceX CRS-21,2972,LEO (ISS),NASA (CRS),Success,Success

**Note:This below code is added to remove blank rows from table**

In [ ]:
%sql create table SPACEXNR as select * from SPACEXTBL where Date is not null

 * sqlite:///my_data1.db

Done.

[]

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"** . 

   

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [ ]:
%sql select distinct Launch_Site from SPACEXNR

 * sqlite:///my_data1.db
Done.

[('CCAFS LC-40',), ('VAFB SLC-4E',), ('KSC LC-39A',), ('CCAFS SLC-40',)]


### Task 2


#####  Display 5 records where launch sites begin with the string 'KSC'

In [ ]:
%sql select * from SPACEXNR where Launch_Site like "KSC%" limit 5

 * sqlite:///my_data1.db
Done.

[('2017-02-19', '14:39:00', 'F9 FT B1031.1', 'KSC LC-39A', 'SpaceX CRS-10', 2490, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'Success (ground pad)'),
 ('2017-03-16', '6:00:00', 'F9 FT B1030', 'KSC LC-39A', 'EchoStar 23', 5600, 'GTO', 'EchoStar', 'Success', 'No attempt'),
 ('2017-03-30', '22:27:00', 'F9 FT  B1021.2', 'KSC LC-39A', 'SES-10', 5300, 'GTO', 'SES', 'Success', 'Success (drone ship)'),
 ('2017-05-01', '11:15:00', 'F9 FT B1032.1', 'KSC LC-39A', 'NROL-76', 5300, 'LEO', 'NRO', 'Success', 'Success (ground pad)'),
 ('2017-05-15', '23:21:00', 'F9 FT B1034', 'KSC LC-39A', 'Inmarsat-5 F4', 6070, 'GTO', 'Inmarsat', 'Success', 'No attempt')]

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [ ]:
%sql select sum(PAYLOAD_MASS__KG_) from SPACEXNR WHERE customer = 'NASA (CRS)'

 * sqlite:///my_data1.db
Done.

[(45596,)]

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [ ]:
%sql select avg(PAYLOAD_MASS__KG_) from SPACEXNR WHERE booster_version = "F9 v1.1"

 * sqlite:///my_data1.db
Done.

[(2928.4,)]

### Task 5

##### List the date where the succesful landing outcome in drone ship was acheived.


_Hint:Use min function_

In [ ]:
%sql select min(Date) from SPACEXNR WHERE Landing_Outcome = "Success (drone ship)"

 * sqlite:///my_data1.db
Done.

[('2016-04-08',)]

### Task 6

##### List the names of the boosters which have success in ground pad  and have payload mass greater than 4000 but less than 6000

In [ ]:
%sql select Booster_Version from SPACEXNR WHERE (( PAYLOAD_MASS__KG_ between 4000 and 6000) and (Landing_Outcome = "Success (ground pad)") )

 * sqlite:///my_data1.db
Done.

[('F9 FT B1032.1',), ('F9 B4 B1040.1',), ('F9 B4 B1043.1',)]

### Task 7




##### List the total number of successful and failure mission outcomes

In [ ]:
%sql select Mission_Outcome, count(Mission_Outcome) from SPACEXNR GROUP BY Mission_Outcome

 * sqlite:///my_data1.db
Done.

[('Failure (in flight)', 1),
 ('Success', 98),
 ('Success ', 1),
 ('Success (payload status unclear)', 1)]

### Task 8



##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [ ]:
%sql select Booster_Version	, PAYLOAD_MASS__KG_ from SPACEXNR\
where  PAYLOAD_MASS__KG_ = (select max( PAYLOAD_MASS__KG_) from SPACEXNR)

 * sqlite:///my_data1.db
Done.

[('F9 B5 B1048.4', 15600),
 ('F9 B5 B1049.4', 15600),
 ('F9 B5 B1051.3', 15600),
 ('F9 B5 B1056.4', 15600),
 ('F9 B5 B1048.5', 15600),
 ('F9 B5 B1051.4', 15600),
 ('F9 B5 B1049.5', 15600),
 ('F9 B5 B1060.2 ', 15600),
 ('F9 B5 B1058.3 ', 15600),
 ('F9 B5 B1051.6', 15600),
 ('F9 B5 B1060.3', 15600),
 ('F9 B5 B1049.7 ', 15600)]

### Task 9


##### List the records which will display the month names, succesful landing_outcomes in ground pad ,booster versions, launch_site for the months in year 2017
**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 4, 2) as month to get the months and substr(Date,7,4)='2017' for year.**

In [ ]:
%sql select substring(Date,6,2), Date,Booster_Version , Launch_Site from SPACEXNR  WHERE (Landing_Outcome = "Success (ground pad)" And substring(Date,0,5)='2017')

 * sqlite:///my_data1.db
Done.

[('02', '2017-02-19', 'F9 FT B1031.1', 'KSC LC-39A'),
 ('05', '2017-05-01', 'F9 FT B1032.1', 'KSC LC-39A'),
 ('06', '2017-06-03', 'F9 FT B1035.1', 'KSC LC-39A'),
 ('08', '2017-08-14', 'F9 B4 B1039.1', 'KSC LC-39A'),
 ('09', '2017-09-07', 'F9 B4 B1040.1', 'KSC LC-39A'),
 ('12', '2017-12-15', 'F9 FT  B1035.2', 'CCAFS SLC-40')]

### Task 10




##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order

In [ ]:
%sql select Landing_Outcome, count(Landing_Outcome) from SPACEXNR  where ((Date >= '2010-06-04' and Date <= '2017-03-20') and (Landing_Outcome="Failure (drone ship)" or Landing_Outcome="Success (ground pad)"))  GROUP BY Landing_Outcome \
order by (Landing_Outcome) desc

 * sqlite:///my_data1.db
Done.

[('Success (ground pad)', 3), ('Failure (drone ship)', 5)]

In [ ]:
%sql select  Landing_Outcome,count(Landing_Outcome) from SPACEXNR  where ((Date >= '2010-06-04' and Date <= '2020-12-31') and (Landing_Outcome="Failure (drone ship)" or Landing_Outcome="Success (ground pad)"))  GROUP BY Landing_Outcome \
order by (Landing_Outcome) desc

 * sqlite:///my_data1.db
Done.

[('Success (ground pad)', 9), ('Failure (drone ship)', 5)]

In [ ]:
%sql select count(Mission_Outcome) as MISSION_OUTCOME_COUNT,Launch_Site from SPACEXNR group by Launch_Site;

 * sqlite:///my_data1.db
Done.

[(26, 'CCAFS LC-40'),
 (34, 'CCAFS SLC-40'),
 (25, 'KSC LC-39A'),
 (16, 'VAFB SLC-4E')]

In [ ]:
%sql select Landing_Outcome, count(Landing_Outcome) from SPACEXNR  where (Landing_Outcome LIKE "Failure%") group by Landing_Outcome;

 * sqlite:///my_data1.db
Done.

[('Failure', 3), ('Failure (drone ship)', 5), ('Failure (parachute)', 2)]

In [ ]:
%sql select (count(Landing_Outcome)) as Fail_Recover_Booster from SPACEXNR  where (Landing_Outcome LIKE "Failure%");

 * sqlite:///my_data1.db
Done.

[(10,)]

In [ ]:
%sql select Date,Landing_Outcome,Launch_site,Booster_Version,PAYLOAD_MASS__KG_  from SPACEXNR  where (Landing_Outcome LIKE "Failure%") order by Booster_Version desc

 * sqlite:///my_data1.db
Done.

[('2016-01-17', 'Failure (drone ship)', 'VAFB SLC-4E', 'F9 v1.1 B1017', 553),
 ('2015-04-14', 'Failure (drone ship)', 'CCAFS LC-40', 'F9 v1.1 B1015', 1898),
 ('2015-01-10', 'Failure (drone ship)', 'CCAFS LC-40', 'F9 v1.1 B1012', 2395),
 ('2010-12-08', 'Failure (parachute)', 'CCAFS LC-40', 'F9 v1.0  B0004', 0),
 ('2010-06-04', 'Failure (parachute)', 'CCAFS LC-40', 'F9 v1.0  B0003', 0),
 ('2016-06-15', 'Failure (drone ship)', 'CCAFS LC-40', 'F9 FT B1024', 3600),
 ('2016-03-04', 'Failure (drone ship)', 'CCAFS LC-40', 'F9 FT B1020', 5271),
 ('2018-12-05', 'Failure', 'CCAFS SLC-40', 'F9 B5B1050', 2500),
 ('2020-02-17', 'Failure', 'CCAFS SLC-40', 'F9 B5 B1056.4', 15600),
 ('2020-03-18', 'Failure', 'KSC LC-39A', 'F9 B5 B1048.5', 15600)]

In [ ]:
%sql select Date,LAnding_Outcome,Booster_Version,PAYLOAD_MASS__KG_  from SPACEXNR  where (Launch_Site LIKE "VA%")

 * sqlite:///my_data1.db
Done.

[('2013-09-29', 'Uncontrolled (ocean)', 'F9 v1.1  B1003', 500),
 ('2016-01-17', 'Failure (drone ship)', 'F9 v1.1 B1017', 553),
 ('2017-01-14', 'Success (drone ship)', 'F9 FT B1029.1', 9600),
 ('2017-06-25', 'Success (drone ship)', 'F9 FT B1036.1', 9600),
 ('2017-08-24', 'Success (drone ship)', 'F9 FT B1038.1', 475),
 ('2017-10-09', 'Success (drone ship)', 'F9 B4 B1041.1', 9600),
 ('2017-12-23', 'Controlled (ocean)', 'F9 FT  B1036.2', 9600),
 ('2018-02-22', 'No attempt', 'F9 FT  B1038.2', 2150),
 ('2018-03-30', 'No attempt', 'F9 B4  B1041.2', 9600),
 ('2018-05-22', 'No attempt', 'F9 B4  B1043.2', 6460),
 ('2018-07-25', 'Success', 'F9 B5B1048.1', 9600),
 ('2018-10-08', 'Success', 'F9 B5 B1048.2', 3000),
 ('2018-12-03', 'Success', 'F9 B5 B1046.3', 4000),
 ('2019-01-11', 'Success', 'F9 B5 B1049.2', 9600),
 ('2019-06-12', 'Success', 'F9 B5 B1051.2 ', 4200),
 ('2020-11-21', 'Success', 'F9 B5B1063.1', 1192)]

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%203/LAB-String_Patterns_Sorting_Grouping.md.html">Hands-on Lab : String Patterns, Sorting and Grouping</a>  

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>